@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    UPV<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:juacuaza@inf.upv.es">juacuaza@inf.upv.es</a><br />
    <strong>Support:</strong>   <a href="mailto:mpruizh@gmail.com">mpruizh@gmail.com</a><br />
</address>