@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>APPV</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido</h2>
        <p>Aplicación web que trata sobre las gestión de todos los videoclubs de una cadena llamada APPV.</p>
    </div>
    <div class="col-md-4">
        <h2>Ingeniería de Sistemas de Información</h2>
        <p>Caso de estudio de la asignatura ISI.</p>
    </div>
    <div class="col-md-4">
        <h2>Uso de GitHub</h2>
        <p>Esta aplicación web es totalmente gratuita y se puede descargar desde GitHub.</p>
        <p><a class="btn btn-success" href="https://github.com/juacuaza/APPV">Descargar</a></p>
    </div>
</div>